<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
        <h1>Preview</h1>
	<img src = '/previews/image.jpg' />

<%- include('../includes/end.ejs') %>